// variables
$modal-duration: 0.6s;
$primary-color: #30336b;
$secondary-color: #be2edd;
$white: #fff;
$dark: #333;
$black: #000;
$greyTransparent: rgba(200, 200, 200, 0.1);
$blur: rgba(0, 0, 0, 0.3);
$modalContainer: rgba(0, 0, 0, 0.6);
