// variables
$modal-duration: 0.6s;
// $primary-color: #c8e2e3;
$primary-color: #70b9c2;
// $secondary-color: #d7897b;
$secondary-color: #f0917f;
$third-color: #f0e9ea;
$text-color: #644659;
$white: #fff;
$dark: #333;
$black: #000;
$gray: rgba(65, 65, 65, 0.7);
$greyTransparent: rgba(255, 255, 255, 0.3);
$blur: rgba(0, 0, 0, 0.3);
$modalContainer: rgba(0, 0, 0, 0.6);
