.footer {
  background-color: #fff;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  color: #333;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
