@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &.show-nav {
    transform: translateX(200px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  background-color: $secondary-color;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  padding: 8px 12px;

  &:focus {
    outline: none;
  }
}
.container {
  header {
    background-color: $primary-color;
    color: $white;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;

    p {
      margin: 30px 0;
    }

    // .toggle {
    //   position: absolute;
    //   background-color: $blur;
    //   background: url("../public/menu.png");
    // }
    .toggle {
      position: absolute;
      background-color: $blur;
      top: 20px;
      left: 20px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
