@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: transform $modal-duration;
}

//base styles
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  &.show-nav {
    transform: translateX(200px);
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  background-color: $secondary-color;
  border: 0;
  border-radius: 5px;
  color: $black;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color, color, 0.5s;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $text-color;
    color: $white;
  }
}
.container {
  margin-top: -100vh;
}

//header
header {
  // background-color: $primary-color;
  background: url("../public/hero-hair.jpeg") no-repeat center/cover;

  color: $white;
  font-size: 130%;
  position: relative;
  padding: 0 40px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 45vh;

  .toggle {
    position: sticky;
    align-self: flex-start;
    background-color: $blur;
    top: 20px;
    left: 20px;
    transition: transform 0.5s;
    z-index: 100;

    &:hover {
      transform: rotate(10deg);
    }
  }

  div {
    width: 95vw;
  }

  p {
    margin: 30px 0;
  }

  .cta-btn {
    padding: 12px 30px;
    font-size: 20px;
  }
}

// Main Section
.main-container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  min-height: 80vh;

  // About
  h2 {
    margin: 5px 0 10px 0;
  }

  // icons under about
  .flex-icons {
    display: flex;
    margin-top: 40px;
    .icon {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  // Work Caoursel Section
  .carouselStyle {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h2 {
        font-size: 1.8rem;
      }
      .carousel-btn {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
    .carousel-container {
      display: flex;
      justify-content: space-evenly;
      position: relative;
      overflow: hidden;
      gap: 0.25rem;

      .carousel-item {
        position: relative;
        text-align: center;
        height: 40rem;
        width: 40rem;
        a {
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }
  }

  // Modal Section
  .modal-container {
    background-color: $modalContainer;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .modal {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 10px $blur;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 400px;
      color: $dark;
      animation: modalopen $modal-duration;

      .close-btn {
        background: transparent;
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
      }

      .modal-header {
        background: $primary-color;
        color: $text-color;
        padding: 15px;
        border-bottom: 1px solid $dark;
      }
      .modal-content {
        padding: 20px;
        background-color: #f0e9ea;

        .modal-form {
          div {
            margin: 15px 0;

            label {
              display: block;
              margin-bottom: 5px;
            }

            .form-input {
              background-color: $third-color;
              padding: 10px;
              width: 100%;
              border: 0;
              border-bottom: 1px solid gray;
              color: $black;
              font-family: inherit;

              &:focus,
              &:active {
                outline: none;
                border-bottom: 1px solid $secondary-color;
              }
            }
          }

          .submit-btn {
            width: 100%;
            padding: 12px 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
